@import url(global.css);

img {
    display: block;
    width: 100%;
}

.about__carousel-container {
    background-color: var(--about-us-background-color-light);
    display:flex;
    margin: auto;
    max-width: 1200px;
}

.about_carousel-container {
    margin: auto;
    /* max-width: 1200px; */
   
}

.staff__title {
    font-family: 'Leckerli One', cursive;
    font-size: 21px;
    margin-bottom: 0;
}

.team__header {
    font-family: 'Dangrek', cursive;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

.text-content {
    display: block;
    width: 50%;
}

.team__description {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.team__content {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
}

.contact__button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact__button {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}



.send__button {
    width: 154px;
    height: 59px;
    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    font-size: 16.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    transition: background-color 500ms;
}

.send__button:first-of-type {
    background-color: var(--about-us-background-color-dark);
}

.send__button:first-of-type:hover {
    background-color: var(--blog-button-color);
}

.carousel-member-container {
    display: flex;
    flex-direction: column;
}

.member__card {
    text-align: center;
    font-size: 24px;
    font-family: 'Dangrek', cursive;
    background-color: #a55376;
}

@media (min-width: 993px) {
    .about_carousel-container {
        display: flex;
    }
}

