.gallery__title {
  font-family: "Leckerli One", cursive;
  font-size: 1rem;
  text-align: center;
}

.gallery__name {
  font-size: 34px;
  text-align: center;
  font-family: "Dangrek", cursive;
}

.ice-cream-and-desserts {
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
}

