@madia url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:wght@600&display=swap');

.menu__cards {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

background-color {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
}

.menu__card card {
	box-sizing: border-box;
	display: block;
	font-size: 18px;
	font-weight: 400;
	text-aline: center;
}

.card-title {
	box-sizing: border-box;
	display: inline;
	color: rgb(255, 255, 255);
	font-family: 'Dangrek', cursive;
	font-size: 30px;
	font-weight: 400;
	text-aline: center;
	vertical-aline: baseline;
}

cart__button {
	box-sizing: border-box;
	display: block;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	text-aline: center;
}
.card__imag {
	 margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6px;
}
	
	

	
	
	


	
	
