.menu__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	margin: 20px 0;
}

.menu__card {
	position: relative;
	padding: 20px;
	}

.card__image {
	max-width: 100%;
	height: auto;
	display: block;
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	border-radius: 10px;
	}

.card__title {
	position: absolute;
	color: var(--text-color);
	font-family: 'Dangrek', cursive;
	text-align: center;
	top: 10%;
	left: 33%;
	font-size: 30px;
	margin: 0
}

.card__button {
	position: absolute;
	bottom: 10px;
	top: 60%;
	left: 33%;
	color: rgb(255, 255, 255);
	background-color: var(--about-us-background-color-light);
	font-family: 'Source Sans 3', sans-serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	border-radius: 27px;
	height: 50px;
	width: 150px;
}

@media (max-width: 967px){
.menu__cards {
	grid-template-columns: 1fr;
 }
 .menu__card {
	height: auto;
 }
 .card__image {
	max-height: none;
	height: 180px;
	max-width: 100%;
	object-fit: cover;
 }
}

	
	

	
	
	


	
	
