.menu__cards {
	display: flex;
	gap: 50px;
}

.menu-card.card.img {
	padding: 30px;
	border-radius: 10px;
}

.menu__card-title {
	display: flex;
	color: rgb(255, 255, 255);
	font-family: 'Dangrek', cursive;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

.card__button {
	display: flex;
	padding: 10px 20px;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans 3', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border-radius: 35px;
}

	
	

	
	
	


	
	
