.menu__cards

.menu-card.card

.card.img

.card-title {
	display: flex;
	color: rgb(255, 255, 255);
	font-family: 'Dangrek', cursive;
	font-size: 30px;
	font-weight: 400;
	text-aline: center;
	}

.card__button {
	display: flex;
	padding: 10px 20 px;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans 3', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	text-aline: center;
	cursor: pointer;
	border-radius: 35px;
	}

	
	

	
	
	


	
	
