@madia url('https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Source+Sans+3:wght@600&display=swap');

.card-title {
	box-sizing: border-box;
	display: inline;
	color: rgb(255, 255, 255);
	font-family: 'Dangrek', cursive;
	font-size: 30px;
	font-weight: 400;
	text-aline: center;
	vertical-aline: baseline;
}

a.card__button {
	box-sizing: border-box;
	display: block;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	text-aline: center;
}

	
	

	
	
	


	
	
