.ingredients {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    
}

.ingredients-text {
    float: right;
    width: 50%;
    height: 600px; 
}

.image-ice {
    float: left;
    width: 50%;
    padding-top: 1%; 
    padding-bottom: 1%; 
    height: 600px;
}

.ice-cream-image {
    float: left;
    margin-left: 35%; 
    margin-top: 1%;  
    display: flex;
    max-width: 60%;
}

.icon-leaf img {
    color: #B87390;
    margin-bottom: 32px;
    display: flex;
    width: 3%;
    position: relative;
    line-height: 20%;
    bottom: 285px;
  }


.ingredients-title {
    font-family: "Leckerli One";
    font-size: 21px;
    line-height: 20px;
    padding-top: 40px;
    text-align: left;
}

.ingredients-description-title {
    font-family: "Dangrek", cursive;
    font-size: 48px;
    line-height: 100px;
    text-align: left;
}

.ingredients-description {
    font-family: "Source Sans 3";
    font-size: 20px;
    line-height: 70px;
    text-align: left;
}

.ing-text {
    font-family: "Source Sans 3";
    font-size: 20px;
    line-height: 60px;
    margin-left: 40px; 
}

.description-text {
    color: var(--blog-color-article-description);
    font-family: "Source Sans 3";
    font-size: 18px;
    line-height: 40px;
    text-align: left;
}


@media (max-width: 768px) {
    .ingredients {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .ingredients-text {
        float: none;
        width: 100%;
        height: auto;
    }
    .image-ice {
        float: none;
        width: 100%;
        height: auto;
    }
    .ice-cream-image {
        float: none;
        margin-left: 0;
        margin-top: 0;
    }
    .icon-leaf img {
        top: 5px;
    }
    .ingredients-title {
        font-size: 18px;
    }
    .ingredients-description-title {
        font-size: 36px;
    }
    .ingredients-description {
        font-size: 16px;
    }
    .ing-text {
        margin-left: 0;
    }
    .description-text {
        font-size: 14px;
    }
}
