@import url(global.css);
@import url(header-nav.css);
@import url(footer.css);

.menu__header {
    background-color: var(--menu-background-color-dark);
    padding: 0;
    margin: 0;
}

.menu__main{
    background-color: var(--menu-background-color-light);
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: 0.4px;
    text-align: center;
}

.menu__nav-header{
    background-color: var(--menu-background-color-dark);
    padding: 70px 0 90px;
}

.menu__main-container {
    background-color: var(--menu-background-color-light);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;  
    margin: 50px auto;
    
}

.menu__title {
    font-family: "Dangrek", cursive;
    font-size: 38px;
    font-weight: 400;
}

.menu__section-description {
    font-family: "Source Sans 2", sans-serif;
    font-size: 20px;
    line-height: 28,8px;  
    font-weight: 100;
    padding-bottom: 70px;
}

.menu__section-heading {
    font-family: 'Leckerli One', cursive;
    font-size: 18px;
    padding-bottom: 30px;
}

.menu__section-subtitle {
    font-family: "Dangrek", cursive;
    font-size: 38px;
    line-height: 39px;
    font-weight: 400;
    padding-bottom: 30px;
}

.menu__item {
    margin-top: 20px auto;
}

.menu__item-name, .menu__item-price {
    font-family: "Dangrek", cursive;
    font-size: 23px;
    font-weight: 400;
}

.menu__item-text {
    color: var(--text-color-alternative);
    font-family: "Source Sans 2", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}

.menu__item img {
    max-width: 70px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu__item-decorator {
    border-bottom: 1px solid var(--text-color-alternative);
    margin: 10px 0;
    width: 20%;
}

@media(min-width: 768px) {
    .menu__section-part {
        display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    }
    /* .menu__item{
        width: 200px;
        height: 100px;
        margin: 5px;
    } */
    .menu__title{
        font-size: 48px;
    }
    .menu__section-heading{
        font-size: 20px;
    }
    .menu__section-subtitle {
        font-size: 48px;
    }
    .menu__section-description {
        font-size: 18px;
    }
    .menu__item-name, .menu__item-price {
        font-size: 28px;
    }
    .menu__item-text {
        font-size: 16px;
    }
}