
.questions {
    background-color: var(--about-us-background-color-light);
    max-width: 1200px;
    padding: 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.questions__header {
    font-family: "Dangrek", cursive;
    font-size: 30px;
    line-height: normal;
}
.questions__header, .questions__paragraph, .questions__accordion{
    min-width: 290px;
    margin: 12px 1.5% 12px 1.5%;
    flex-grow: 1 ;
    flex-basis: 28%;
    align-self: center;
    text-align: center;
}
.questions__accordion{
    font-family: "Dangrek", cursive;
    font-size: 18px;
    color: var(--about-us-text-color); 
}
.questions__paragraph {
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;
    color: var(--about-us-text-color); 
}
.questions__accordion-item{
    display: grid;
}
 .questions__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.questions__accordion-button {
    color: var(--about-us-header-color); 
    background: none;
    border: none;
    padding: 1%;
    font: inherit;
    cursor: pointer;
}



/*

.questions{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.questions__header, .questions__paragraph, .questions__accordion{
    min-width: 250px;
    margin: 2%1.5% 2% 1.5%;
    flex-grow: 1 ;
    flex-basis: 28%;
    align-self: center;
    text-align: center;
}

.questions__accordion-item{
    display: grid;
}
 .questions__accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    
}
.questions__accordion-button {
    background: none;
    border: none;
    padding: 1%;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
} */