.carousel__icecream_name {
    font-family: 'Leckerli One', cursive;
    font-size: 14px;
    text-align: center;
}
.carousel__icecream_title {
    font-family: 'Dangrek';
    font-size: 34px;
    text-align: center;
}
.carousel__icecream_description {
    font-family: 'Source Sans 3';
    color: var(--text-color-alternative);
    font-size: 20px;
    text-align: center;
    line-height: 3;
}
.carousel__menu_species {
    display: flex;
    text-align: center;
}
.carousel__icecream_alignment{
    background-color: var(--background-color-dark);
    border-radius: 10px;
    padding: 25px;
    margin: 5px;
}
.alignment__title {
    font-family: 'Dangrek';
}
.alignment__description {
    font-family: 'Source Sans 3';
    color: var(--text-color-alternative);
    font-style: italic;
}
.button__alignment_button {
    background-color: var(--price-color);
    width: 154px;
    height: 59px;
    color: var(--text-color);
    font-family: "Source Sans 3", sans-serif;
    font-size: 16.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}
.carousel__button_icecream_alignment--left {
    background-color: var(--text-color-button-carousel);  
    color: var(--text-color);  
    border-radius: 50%;  
    border: none;  
    width: 30px;  
    height: 30px;  
}
.carousel__button_icecream_alignment--right {
    background-color: var(--text-color-button-carousel);  
    color: var(--text-color);  
    border-radius: 50%;  
    border: none;  
    width: 30px;  
    height: 30px;  
}
@media (max-width: 768px){
    .carousel__menu_species {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 960px){
    .carousel__menu_species {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

